/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERIC */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;

    /* test */
    background-color: pink;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* HEADER */
header {
    height: 60px;
    background-color: white;
    padding: 20px;
    line-height: 20px;
}

/* JUMBO */


/* PLAN */


/* PARTNERS */


/* CALL TO ACTION */


/* FAQ */


/* FOOTER */
