/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
    /* test */
    background-color: pink;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header {
    height: 60px;
    background-color: white;
    padding: 20px;
    line-height: 20px;
}

